$--color-primary: #2c7cff !default;

$--color-success: #00c853 !default;
$--color-warning: #ffab00 !default;
$--color-danger: #e57373 !default;
$--color-info: #909399 !default;

$--color-text-primary: #333333 !default;
$--color-text-regular: #666666 !default;
$--color-text-secondary: #999999 !default;
$--color-text-placeholder: #dddddd !default;

/* Background
-------------------------- */
$--background-color-base: #fafafa !default;

/* Border
-------------------------- */
$--border-color-base: #dddddd !default;
$--border-color-light: #e2e7ef !default;