$--color-primary: #f7941d !default;
$--color-primary-darker: #e67400 !default;

$--color-success: #00c853 !default;
$--color-warning: #ffbd00 !default;
$--color-danger: #ee5353 !default;
$--color-info: #9956eb !default;

$--color-text-primary: #333333 !default;
$--color-text-regular: #666666 !default;
$--color-text-secondary: #999999 !default;
$--color-text-placeholder: #dddddd !default;

/* Background
-------------------------- */
$--background-color-base: #fafafa !default;

/* Border
-------------------------- */
$--border-color-base: #dddddd !default;
$--border-color-light: #e2e7ef !default;